<div id= "modal_rejectCardRequests" class="reveal-modal medium" ky-modal-open="rejectNote.time" ky-modal-close="rejectNote.added">
  <%= render 'card_requests/modal_rejectrequest' %>
  <a class="close-reveal-modal"></a>
</div>
<div id= "modal_addNote" class="reveal-modal medium" ky-modal-open="newNote.time" ky-modal-close="newNote.added">
  <%= render 'card_requests/modal_note' %>
  <a class="close-reveal-modal"></a>
</div>
