<div class="row">
  <div class="small-12 large-4 columns">
    <label>Proof of Birth</label>
    <%= link_to "#", "ng-href" =>"{{card.proof_of_birth.url}}", class:"btn icn-link", target: "_blank" do %>
      <i class="icn-eye"></i> View Document
    <% end %>
  </div>

  <div class="small-12 large-4 columns pull-4">
    <label>Medical Waiver</label>
    <%= link_to "#", "ng-href" =>"{{card.waiver.url}}", class:"btn icn-link", target: "_blank" do%>
      <i class="icn-eye"></i> View Document
    <% end %>
  </div>
</div>
