<div class="row">
  <div class="small-12 large-4 columns">
    <label>Background Check</label>
    <%= text_field_tag "card[background_check]", nil, {"ng-model" => "card.background_check", disabled: "disabled" } %>
  </div>
</div>
