<p>Click the Print Cards button to print all the above cards.</p>
<a  target="_blank" class="button btn large" title="<%=t("label.cards.print_all_cards")%>" ng-href="{{printCardsUrl}}" ><%=t("label.cards.print_all_cards")%></a>
