<div class="small-12 large-5 columns inline">
  <h5>Cards Summary</h5>
  <ul class="info-list">
    <li><i class="icn-card"></i> With Cards: <%= @obj.card_summary['carded_player_count'] %></li>
    <li><i class="icn-card"><i class="icn-x"></i></i> Without Cards: <%= @obj.card_summary['uncarded_player_count'] %></li>
  </ul>
</div>